<%= render @species %>
<style>
	html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLWvfKjdHTctsb3rmEK7d7GMbzeV8WsuI&sensor=false"></script>
<script>
	function initialize() {
  	var mapOptions = {
    	zoom: 10,
      center: new google.maps.LatLng(37.6, -122),
      mapTypeId: google.maps.MapTypeId.SATELLITE
  	};
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    setMarkers(map, sightings);
  }
	
	var sightings = [[37, -122], [38, -122]]

  function setMarkers(map, locations) {
    for (var i = 0; i < locations.length; i++) {
      var sighting = locations[i];
      var latLng = new google.maps.LatLng(sighting[0], sighting[1]);

      var marker = new google.maps.Marker({
        position: latLng,
        map: map
      });
    };
 	}

  google.maps.event.addDomListener(window, 'load', initialize);
</script> 
<div id="map-canvas"></div>