<h1><%= @user.email %></h1>
<h2>Life List: <%= @user.life_list.count %></h2>

<h2>Observations</h2>
<ul>
	<% @user.observations.each do |observation| %>
		<li><%= link_to observation.date.to_date.to_s, observation %></li>
	<% end %>
</ul>